[Unit]
Description=SafetyTwin Agent State Sender
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=$HOME/safetytwin/safetytwin
ExecStart=/bin/bash $HOME/safetytwin/safetytwin/agent_send_state.sh
Restart=no

[Install]
WantedBy=multi-user.target