[Unit]
Description=Periodic SSH VM Connectivity Check
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=$HOME/safetytwin/safetytwin
ExecStart=/bin/bash $HOME/safetytwin/safetytwin/ssh_vm_check.sh
Restart=no

[Install]
WantedBy=multi-user.target
