[Unit]
Description=SafetyTwin Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=$HOME/gitlab/safetytwin/safetytwin
ExecStart=/bin/true
Restart=no

[Install]
WantedBy=multi-user.target
